<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <!-- Chat Entries directly under Marketing → Communications -->
        <add id="BS23_ChatIntegration::chat_entry"
             title="Chat Entries"
             module="BS23_ChatIntegration"
             sortOrder="70"
             action="bs23_chatintegration/chatentry/index"
             resource="BS23_ChatIntegration::chat_entry"
             parent="Magento_Backend::marketing_communications"/>
    </menu>
</config>
