<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="bs23_chatintegration" frontName="bs23_chatintegration">
            <module name="BS23_ChatIntegration" before="Magento_Backend"/>
        </route>
    </router>
</config>
